<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Pilot</title>
</head>
<body>
    <h3 th:text="'pilot license number: ' + ${pilot.licenseNumber}"></h3>
    <h3 th:text="'pilot name : ' + ${pilot.name}"></h3>
    <h3 th:text="'pilot fly hour : ' + ${pilot.flyHour}"></h3>
    <a th:href="@{|/flight/add/${pilot.licenseNumber}|}">Add Flight</a>
    <h2><b>LIST PENERBANGAN</b></h2>
    <th:block th:each="flight : ${flights}">
        <h3 th:text="'Nomor penerbangan: ' + ${flight.flightNumber}"></h3>
        <h3 th:text="'Bandara Asal: ' + ${flight.origin}"></h3>
        <h3 th:text="'Bandara Tujuan: ' + ${flight.destination}"></h3>
        <h3 th:text="'Tanggal Penerbangan: ' + ${flight.time}"></h3>
        <br><br><br>
    </th:block>
</body>
</html>